<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">

        <!-- Brand -->
        <div class="sidenav-header  align-items-center">
            <a class="navbar-brand" href="javascript:void(0)">
                <img src="~/img/brand.png" class="navbar-brand-img" alt="...">
                <a class="h4 mb-0 text-black text-uppercase d-none d-lg-inline-block" href="/">PQM</a>
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">

                <!-- Collapse header -->
                <div class="navbar-collapse-header d-md-none">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="/">
                               
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Navigation -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link ">
                            <img alt="Image placeholder" src="~/img/home.png" width="32" height="32">
                            <i class="ni ni-tv-2 text-primary"></i> Strona Główna
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="DataAcquisition" asp-action="Index">
                            <img alt="Image placeholder" src="~/img/data.png" width="32" height="32">
                            <i class=" text-orange"></i> Import Danych
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ">
                            <img alt="Image placeholder" src="~/img/preview.png" width="32" height="32">
                            <i class=" text-orange"></i> Podgląd
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ">
                            <img alt="Image placeholder" src="~/img/template.png" width="32" height="32">
                            <i class="ni ni-planet text-orange"></i> Szablony
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ">
                            <img alt="Image placeholder" src="~/img/report.png" width="32" height="32">
                            <i class="ni ni-planet text-orange"></i> Raporty
                        </a>
                    </li>
                </ul>

                
            </div>
        </div>
    </div>

</nav>
