@using System.Data;
@{

}
<script src="~/js/alerts.js"></script>
<script src="~/js/table.js"></script>
<script src="~/js/loading.js"></script>
<div class="text-center">
    <h1 class="display-4">Podgląd</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div style="margin-bottom: 40px;"></div>
                </div>
                <div class="row">
                    <button type="button" id="showUploadFormButton" class="btn btn-primary bg-gradient-primary btn-lg">Importuj dane</button>
                    @{
                        await Html.RenderPartialAsync("UploadForm");
                    }
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                    </div>
                    <div class="card-body pt-2">
                        <a class="card-title h5 d-block text-darker">
                            Wskazówki
                        </a>
                        <p class="card-description mb-4">
                            Tutaj short instruction co i jak
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="alertsIndex"></div>
        </div>
        <div class="row">
            <div style="margin-bottom: 20px;"></div>
        </div>
        <div class="row">
            <div class="card">
                <div id="headers" class="table-responsive">
                </div>
            </div>
        </div>
        <div class="row">
            <div style="margin-bottom: 20px;"></div>
        </div>
        <div id="pushToDbButtonContainer" class="row">
            <button id="pushToDbFormButton" class="hiddenbtn btn-primary bg-gradient-primary btn-lg w-100" type="button" >Zapis do bazy</button>
            @{
                await Html.RenderPartialAsync("PushToDbForm");
            }
        </div>
    </div>
</div>

