@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="overlay"></div>

<div id="pushToDbForm" class="popup-form">
    <h2>Zapisz do bazy</h2>
    <div class="p-4 bg-secondary">
        <form method="post" asp-area="" asp-controller="DataAcquisition" asp-action="Save">
            <div class="row">
                <div class="col-md-3"> </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-alternative" id="measuringPointControlInput" name="measuringPoint" placeholder="Nazwa punktu pomiarowego">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"> </div>

                <div class="col-md-6">
                    <div id="alerts"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <button id="pushToDbButton" class="btn btn-primary bg-gradient-primary btn-lg w-100" type="button">Zapisz do bazy</button>
                </div>
                <div class="col-md-3">
                    <button id="closePushToDbFormButton" class="btn btn-outline-primary btn-lg w-100" type="button">Anuluj</button>
                </div>
            </div>
        </form>
    </div>

</div>



