@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Strona Główna</h1>
    <div class="card">
        <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
        </div>
        <div class="card-body pt-2">
            <p class="card-description mb-4">
                Witaj! <br />
                <br />
                Znajdujesz się na stronie powitalnej serwisu stworzonego na potrzeby pracy magisterskiej pod tytułem System Web do zarządzania danymi z pomiarów parametrów jakości energii elektrycznej, wykonana przez Szymon Lis. Aplikacja ta została stworzona z myślą o pełnieniu funkcji narzędzia do badań i analizy danych, stanowiąc element pracy badawczej realizowanej na rzecz Akademii Górniczo-Hutniczej w Krakowie.<br />
                <br />
                Proszę zauważyć, że narzędzie to przeznaczone jest wyłącznie do użytku w ramach działań naukowych i dydaktycznych AGH. Każde inne wykorzystanie, bez odpowiedniej zgody, jest zabronione.<br />
                <br />
                Dziękuje za zainteresowanie moją pracą. Zapraszam do zapoznania się z jej funkcjonalnościami i korzystania z niej zgodnie z przeznaczeniem.
            </p>
        </div>
    </div>
</div>
