@using System.Data;
@using PowerQualityManageService.Model.Models;
@{
    List<PowerQualityManageService.Model.Models.Template> templates = null;
}
<script src="~/js/alerts.js"></script>
<script src="~/js/table.js"></script>
<script src="~/js/loading.js"></script>
<div class="text-center">
    <h1 class="display-4">Podgląd</h1>
    <div class="container">

        @*Sekcja Alertów*@
        <div class="row">
            <div id="alertTemplate"></div>
        </div>

        @*Sekcja 1 - Notka po prawej po lewej funkcyjny*@
        <div class="row">
            <div class="col">
                <div class="row">
                    <div style="margin-bottom: 40px;"></div>
                </div>
                <div class="row">
                    <button id="showAddNewTemplateFormButton" class="btn btn-primary bg-gradient-primary btn-lg w-100" type="button" onclick="location.href='@Url.Action("Create", "Template")'">Dodaj nowy szablon</button>
                </div>
            </div>


            <div class="col">
                <div class="card">
                    <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                    </div>
                    <div class="card-body pt-2">
                        <a class="card-title h5 d-block text-darker">
                            Wskazówki
                        </a>
                        <p class="card-description mb-4">
                            Tutaj short instruction co i jak
                        </p>
                    </div>
                </div>
            </div>
        </div>

        @*Sekcja 2 - Lista Szablonów*@
        <div class="row">
            <label for="templates"> Dostępne szablony: </label>
            <select id="templates" onchange="templateSelected()" class="form-control" name="templates" placeholder="Wybierz szablon" multiple>
                @{
                    templates = ViewBag.Templates;
                    foreach (PowerQualityManageService.Model.Models.Template temp in templates)
                    {
                        <option value="@temp.Name">@temp.Name</option>
                    }
                }
            </select>
        </div>

        <div class="row">
            <div style="margin-bottom: 20px;"></div>
        </div>

        @*Sekcja 3 - przyciski*@
        <div class="row">

            <div class="col">
                <button id="showEditTemplateFormButton" class="hiddenbtn btn-primary bg-gradient-primary btn-lg w-100" type="button">Edytuj</button>
            </div>

            <div class="col">
                <button id="deleteTemplateButton" class="hiddenbtn btn-primary bg-gradient-primary btn-lg w-100" type="button">Usuń</button>
            </div>

        </div>

        <div class="row">
            <div style="margin-bottom: 20px;"></div>
        </div>

    </div>
</div>

@section Scripts {
    <script>
        function hideBtn(id) {
            var button = document.getElementById(id);
            button.style.display = 'none';
        }
    </script>
    <script>
        function unhideBtn(id) {
            var button = document.getElementById(id);
            button.style.display = 'inline-block';
        }
    </script>
    <script>
        function templateSelected(){
            var val = document.getElementById("templates").value;
            if(val!=null){
                unhideBtn('editTemplate');
                unhideBtn('deleteTemplate');
            }
            else{
                hideBtn('editTemplate');
                hideBtn('deleteTemplate');
            }
            console.log("Wartość", val)
        }
    </script> 

    <script>
        //const overlay = document.getElementById('overlay');

        //const editTemplateForm = document.getElementById('editTemplateForm');
        //const addNewTemplateForm = document.getElementById('addNewTemplateForm');

        //const closeEditTemplateFormButton = document.getElementById('closeEditTemplateFormButton');
        //const closeAddNewTemplateFormButton = document.getElementById('closeAddNewTemplateFormButton');

        //const showEditTemplateFormButton = document.getElementById('showEditTemplateFormButton');
        //const showAddNewTemplateFormButton = document.getElementById('showAddNewTemplateFormButton');


        //showEditTemplateFormButton.addEventListener('click', function () {
        //    // Pokaż overlay i formularz
        //    overlay.style.display = 'block';
        //    editTemplateForm.style.display = 'block';
        //});

        //showAddNewTemplateFormButton.addEventListener('click', function () {
        //    // Pokaż overlay i formularz
        //    overlay.style.display = 'block';
        //    addNewTemplateForm.style.display = 'block';
        //});

        //closeEditTemplateFormButton.addEventListener('click', function () {
        //    // Schowaj overlay i formularz
        //    overlay.style.display = 'none';
        //    editTemplateForm.style.display = 'none';
        //});

        //closeAddNewTemplateFormButton.addEventListener('click', function () {
        //    // Schowaj overlay i formularz
        //    overlay.style.display = 'none';
        //    addNewTemplateForm.style.display = 'none';
        //});
    </script>


    <script>
        //$(function () {
        //    $('#deleteTemplateButton').on('click', function (e) {
        //        e.preventDefault();
        //        var val = document.getElementById("templates").value;
        //        $.ajax({
        //            url: 'Template/Template',
        //            type: 'Delete',
        //            data: {
        //                name: val
        //            },
        //            processData: false,
        //            contentType: false
        //        })
        //            .done(function (response) {
        //                console.log('Sukces:', response);
        //                var rezultat = "Poprawnie usunięto szablon: " + val;
        //                showSuccessAlert(rezultat, 'alertsTemplate')
        //            })
        //            .fail(function (error) {
        //                console.log('Błąd żądania AJAX:', error);
        //            });
        //    });
        //});
    </script>
}

